[submodule "external/dawn"]
	path = external/dawn
	url = https://github.com/google/dawn.git
	shallow = true
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
	shallow = true
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
	shallow = true
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	shallow = true
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
	shallow = true
